<div class="row">
  <aside class="col-md-4">
     
        <h3><%= user.person %></h3>
        <p><%= user.email %></p>
    
  </aside>    
  <div class="col-md-8"> 
    <% if user.reviews.any? %>
        <h3>Recent reviews</h3>
        
            <% @reviews.each do |r| %>
                <ol class = "reviews">
                    <p>Product: <%= link_to r.product.title, category_product_path(r.product.category.id, r.product.id) %></p>
                    <p><%= r.content %></p>
                    <p>rated: <%= r.rating %>
                        <% if r.created_at != r.updated_at %>
                            <%= r.created_at.strftime("| posted on %d/%m/%Y") %>
                        <% else %>
                            <%= r.updated_at.strftime("| updated on %d/%m/%Y") %>
                        <% end %>
                    </p>
                    <hr />
                </ol>
            <% end %>
        
    <% else %>
        <p>User have not posted any reviews yet</p>
    <% end %>
  </div> 
 
</div>