%p#notice= notice
.row
  .col-md-6
    %div.panel.panel-default
      .panel-heading
        %h3
          Category name:
          %b
            = category.name
      .panel-body
    
        %table.table
          %thead
            %tr
              %th
                %span.badge.badge-count
                  = category.products.count
                Products:
              %th Average rating
          %tbody
            - category.products.each do |product|
              %tr
                %td
                  = link_to product.title, category_product_path(product.category.id, product.id)
                %td
                  -if product.average_rating
                    %span.badge.badge-rating
                      %span.glyphicon.glyphicon-star
                      = product.average_rating
  .col-md-1
  .col-md-4.panel.panel-default
    %div
      %h3 New product
      = render 'products/form'
%hr    
- if administrator  
  = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
  

= link_to 'Back', categories_path, class: 'btn btn-primary'
