%p#notice= notice
%p#error= flash[:error]
.row
  .col-md-6
    %p
      %b Title:
      = product.title
    %p
      %b Description:
      = product.description
    %p
      %b Price:
      = product.price
    
    %p
      %b Category
      = product.category.name
    %p
      %b Average rating
      = product.average_rating
  .col-md-1
  .col-md-1
    -if auth_user
      = link_to 'Edit product', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
%br
= link_to 'Back', category_path(category.id), class: 'btn btn-primary'
%hr

.row
  .col-md-6
    %h3 Reviews
    = render reviews
  .col-md-1
  .col-md-4
    - if auth_user
      %h3 Add review
      = render 'reviews/form'


%hr/


= link_to 'Back', category_path(category.id), class: 'btn btn-primary'
